
.dashBody {
    margin: 1em 4em auto auto;
    padding: 0;    
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    padding: 1em;
    grid-template-areas:
        "search search"
        "title title"
        "section1 section2";
    grid-gap: 2em;
}

.search1 {
    grid-area: search;    
    margin: 0 auto;
    text-align: center;
}

#s1 {
    grid-area: section1;  
    margin-bottom: 2em;
}

.title {
    grid-area: title;
}
#s2 {
    grid-area: section2;
}

.search1 p {
    margin-bottom: -0.1em;
    font-size: 12px;
}

.autocomplete {
    background-color: white;
    position:absolute;
    z-index: 9;
    cursor: pointer;
    width: auto;

}

.autocomplete li {
    padding-right: 0.5em;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

.autocomplete li:hover {
    background-color: #e1dfdd;
}

h1 {
    padding-top: 0.5em;
    text-align: center;
    padding-bottom: 0.5em;
}

.chart-container {
    width: 100%;
    background-color: white;
}

.search1{
    width: 100vh;
}

#s2 table {
    font-size: 11px;
    background-color: white;
    padding: -1px auto -2px auto;
}

td span{
    float:right;
}
td span:first-child{ /* compatible to >=IE7 */
    float:left;
}

td:hover {
    background-color: #e1dfdd;
}

#s2 h2 {
      text-align: center;
      margin: 0 auto;
      font-size: 28px;
  }

#s2 {
    padding-left: 0;
}

.table1cont {
    padding-bottom: 2em;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.sentiment-container {
    padding-top: 2em;
}

.sentiment-inside {
    margin: auto;
    display: flex;
    justify-content: center;
}

.sentiment-inside td:hover {
    background-color: #fff;
}

.ms-FocusZone {
    height: 100%;
}

nav {
    height: 100%;
}

.tablea3 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.tableDesc {
    border-top: 1px solid #dbdbd9;
    border-bottom: 1px solid #dbdbd9;
}

.tablesent-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}


.tablesent1 span {
    padding-right: 1em;
}

.tablesent1 span {
    vertical-align: bottom;
}



@media only screen and (max-width: 1500px) {
    
    .dashBody {
        margin: 1em 4em auto auto;
        padding: 0;    
        font-family: 'Montserrat', sans-serif;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto,5);
        padding: 1em;
        grid-template-areas:
            "search"
            "title"
            "section1"
            "section2";
    }
    
    
  }
  

  @media only screen and (max-width: 1240px) {
      
    .dashBody {
        margin: 1em 4em auto auto;
        padding: 0;    
        font-family: 'Montserrat', sans-serif;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto,5);
        padding: 1em;
        grid-template-areas:
            "search"
            "title"
            "section1"
            "section2";
    }

    #s1 {
        max-width: 700px;
    }

    .homepage-demo {
        font-size: 70%;
    }

    aside {
        width: 0%;
    }

    .demo-container {
        width: 100%;
    }

    .search1 {
        width: 100%;
    }

    .demo-cont {
        width: 100%;
    }
    
    
    
  }



  @media only screen and (max-width: 460px) {
      
    .dashBody {
        margin: 1em 4em auto auto;
        padding: 0;    
        font-family: 'Montserrat', sans-serif;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto,5);
        padding: 1em;
        grid-template-areas:
            "search"
            "title"
            "section1"
            "section2";
    }

    #s1 {
        max-width: 700px;
    }

    .homepage-demo {
        font-size: 70%;
    }

    aside {
        width: 0%;
    }

    .demo-container {
        width: 9%;
    }

    .search1 {
        width: 100%;
    }

  }